*, html, body {
  margin: 0;
  padding: 0; }

*, html, body {
  margin: 0;
  padding: 0; }

.input-box {
  background: #FFF;
  border: 1px solid #DEDEDE;
  padding: 16px 24px;
  width: 100%;
  border-radius: 36px; }
  @media screen and (min-width: 1000px) {
    .input-box {
      border-radius: 36px; } }
  @media screen and (min-width: 1000px) {
    .input-box {
      padding: 12px 20px; } }

@media screen and (max-width: 1000px) {
  .desktop-view {
    display: none !important; } }

@media screen and (min-width: 1000px) {
  .mobile-view {
    display: none !important; } }

.hide {
  display: none !important; }

.btn, .btn-vote {
  padding: 10px 20px;
  background: #4447e1;
  color: #fff;
  border: 1px solid #4447e1;
  border-radius: 5px;
  width: auto;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  text-align: center;
  transition: all ease 0.5s;
  cursor: pointer; }
  .btn:hover, .btn:focus, .btn-vote:hover, .btn-vote:focus {
    background: #fff;
    color: #4447e1; }
  .btn.btn-dark, .btn-vote.btn-dark {
    background: #333; }

.btn-invert {
  padding: 10px 20px;
  background: #4447e1;
  color: #fff;
  border: 1px solid #4447e1;
  border-radius: 5px;
  width: auto;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  text-align: center;
  transition: all ease 0.5s;
  cursor: pointer;
  background: #fff;
  color: #4447e1; }
  .btn-invert:hover, .btn-invert:focus {
    background: #fff;
    color: #4447e1; }
  .btn-invert:hover, .btn-invert:focus {
    background: #4447e1;
    color: #fff; }

.btn-invert-gray {
  padding: 10px 20px;
  background: #736E6E;
  color: #fff;
  border: 1px solid #736E6E;
  border-radius: 5px;
  width: auto;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  text-align: center;
  transition: all ease 0.5s;
  cursor: pointer;
  background: #fff;
  color: #736E6E; }
  .btn-invert-gray:hover, .btn-invert-gray:focus {
    background: #fff;
    color: #736E6E; }
  .btn-invert-gray:hover, .btn-invert-gray:focus {
    background: #736E6E;
    color: #fff; }
  .btn-invert-gray:hover, .btn-invert-gray:focus {
    background: #ED1C24;
    color: #FFF;
    border-color: #ED1C24; }
  .btn-invert-gray:focus {
    outline: none; }

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1140px;
  padding-left: 20px;
  padding-right: 20px; }

* {
  word-wrap: break-word; }

html, body {
  width: 100%;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
  overflow-y: auto; }

header, footer, aside, main, section, fieldset, nav {
  display: block; }

ul, ol {
  list-style: none; }

img,
picture,
source {
  display: inline-block; }

a {
  text-decoration: none;
  cursor: pointer; }

button,
[role="button"] {
  cursor: pointer; }

::selection {
  background: #ED1C24;
  color: #FFF; }

#maincontent {
  position: relative;
  z-index: 99; }
  @media screen and (max-width: 1000px) {
    #maincontent {
      z-index: 2; } }

header {
  border-bottom: 1px solid #E6E6E6;
  background: #fff;
  left: 0;
  padding: 16px 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2; }
  @media screen and (max-width: 1000px) {
    header {
      padding: 12px 0 9px 0; } }

.main-header__inner {
  -ms-display: flex;
  -webkit-display: flex;
  display: flex;
  -ms-justify-content: flex-start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -ms-align-items: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  align-items: center; }
  .main-header__inner--logo {
    width: 620px; }
  .main-header__inner--hamberger {
    transform: rotate(180deg);
    background: url(../images/hamber-menu.png) 0 0 no-repeat;
    cursor: pointer;
    width: 66px;
    height: 27px;
    background-size: contain; }
  .main-header__inner--nav {
    -ms-display: flex;
    -webkit-display: flex;
    display: flex;
    -ms-justify-content: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -ms-align-items: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    align-items: center; }
    .main-header__inner--nav ul {
      list-style: none; }
      .main-header__inner--nav ul li {
        font-size: 14px;
        line-height: 21px;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        color: #5e638d;
        display: inline-block; }
        @media screen and (min-width: 1000px) {
          .main-header__inner--nav ul li:not(:first-child) {
            margin-left: 25px; } }
        .main-header__inner--nav ul li a:hover {
          color: #4447e1; }
        @media screen and (max-width: 1000px) {
          .main-header__inner--nav ul li {
            display: block;
            margin-bottom: 20px; } }
      @media screen and (min-width: 1000px) {
        .main-header__inner--nav ul {
          border-right: 1px solid #E6E6E6;
          padding-right: 20px;
          margin-right: 20px; } }
    @media screen and (max-width: 1000px) {
      .main-header__inner--nav {
        background: #FFF;
        flex-direction: column;
        height: 100%;
        left: -100%;
        padding: 90px 20px 20px;
        position: fixed;
        top: 0;
        transition: all .3s;
        width: 280px;
        z-index: 99; }
        .main-header__inner--nav.active {
          left: 0;
          justify-content: flex-start;
          align-items: flex-start; } }

.main-content {
  margin-top: 90px;
  padding-top: 40px; }

.hero-panel__inner {
  -ms-display: flex;
  -webkit-display: flex;
  display: flex;
  -ms-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -ms-align-items: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row; }
  @media screen and (max-width: 1000px) {
    .hero-panel__inner {
      flex-direction: column;
      margin-bottom: 35px; } }
  .hero-panel__inner--content {
    width: 42%;
    padding-top: 50px; }
    @media screen and (max-width: 1000px) {
      .hero-panel__inner--content {
        order: 2;
        width: 100%; } }
    .hero-panel__inner--content h1 {
      font-size: 14px;
      line-height: 21px;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      color: #5e638d;
      color: #4447e1;
      background: rgba(109, 130, 203, 0.1);
      padding: 6px 20px;
      border-radius: 50px;
      width: fit-content; }
    .hero-panel__inner--content h2 {
      font-size: 32px;
      line-height: 47px;
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
      color: #262626;
      letter-spacing: 2px;
      margin-top: 12px; }
    .hero-panel__inner--content h3 {
      font-size: 14px;
      line-height: 21px;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      color: #5e638d;
      margin-top: 12px; }
    .hero-panel__inner--content__btn-group {
      margin-top: 25px; }
      .hero-panel__inner--content__btn-group button {
        margin-right: 10px; }
  @media screen and (max-width: 1000px) {
    .hero-panel__inner--image {
      order: 1; }
      .hero-panel__inner--image img {
        height: auto;
        max-width: 100%; } }

footer .main-footer__inner {
  -ms-display: flex;
  -webkit-display: flex;
  display: flex;
  -ms-justify-content: flex-start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -ms-align-items: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  border-bottom: 1px solid #E6E6E6;
  padding: 25px 0;
  align-items: center; }
  @media screen and (max-width: 1000px) {
    footer .main-footer__inner {
      flex-direction: column;
      align-items: flex-start; } }
  footer .main-footer__inner--logo {
    width: 620px; }
  footer .main-footer__inner--nav ul li {
    font-size: 14px;
    line-height: 21px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #5e638d;
    display: inline-block; }
    @media screen and (min-width: 1000px) {
      footer .main-footer__inner--nav ul li:not(:first-child) {
        margin-left: 25px; } }
    footer .main-footer__inner--nav ul li a:hover {
      color: #4447e1; }
    @media screen and (max-width: 1000px) {
      footer .main-footer__inner--nav ul li {
        display: block;
        margin-top: 12px;
        width: 50%; } }
  @media screen and (max-width: 1000px) {
    footer .main-footer__inner--nav ul {
      display: flex;
      flex-wrap: wrap; } }

footer .main-footer__bottom {
  -ms-display: flex;
  -webkit-display: flex;
  display: flex;
  -ms-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -ms-align-items: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  padding: 25px 0; }
  footer .main-footer__bottom--copyright p {
    font-size: 14px;
    line-height: 21px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #5e638d; }
  @media screen and (max-width: 1000px) {
    footer .main-footer__bottom--copyright {
      order: 2;
      margin-top: 15px; } }
  footer .main-footer__bottom--urls ul li {
    font-size: 14px;
    line-height: 21px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #5e638d;
    display: inline-block; }
    footer .main-footer__bottom--urls ul li:not(:first-child) {
      margin-left: 25px; }
    footer .main-footer__bottom--urls ul li a:hover {
      color: #4447e1; }
  @media screen and (max-width: 1000px) {
    footer .main-footer__bottom {
      flex-direction: column; } }

.top-footer-panel {
  background: #4447e1;
  padding: 35px 0; }
  @media screen and (min-width: 1000px) {
    .top-footer-panel__inner {
      text-align: center; } }
  .top-footer-panel__inner h2 {
    font-size: 40px;
    line-height: 48px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: #FFF;
    letter-spacing: 3px; }
    @media screen and (max-width: 1000px) {
      .top-footer-panel__inner h2 {
        font-size: 30px;
        line-height: 40px;
        letter-spacing: 1px; } }
  .top-footer-panel__inner h3 {
    font-size: 14px;
    line-height: 21px;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    color: #262626;
    color: #FFF;
    margin-top: 15px; }
  .top-footer-panel__inner button {
    margin-top: 15px; }

.model-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .7;
  z-index: 9999;
  left: 0;
  top: 0; }

.model-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  overflow: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99991; }
  .model-box .model-container {
    max-width: 380px;
    width: 100%;
    background: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    padding: 40px 40px 30px 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -webkit-transition: 1s ease-in-out;
    line-height: 1.4em;
    border-radius: 16px;
    min-height: 400px; }
    @media screen and (max-width: 1000px) {
      .model-box .model-container {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        transform: none; } }
    .model-box .model-container .close {
      font-size: 24px;
      right: 15px;
      top: 8px;
      color: #b6b6b6;
      cursor: pointer;
      position: absolute; }
    .model-box .model-container .brand-icon {
      text-align: center;
      margin-bottom: 20px; }
    .model-box .model-container .input_txt_box {
      width: 100%;
      height: 26px;
      padding: 5px 10px 5px 0;
      border: none;
      border-bottom: 1px solid #e0e0e0;
      font-size: 14px;
      color: #262626;
      display: block;
      transition: all 1s ease;
      box-sizing: border-box;
      line-height: 16px; }
      .model-box .model-container .input_txt_box:focus, .model-box .model-container .input_txt_box:hover {
        outline: 0; }
      .model-box .model-container .input_txt_box.error {
        border-bottom: 1px solid #ED1C24;
        color: #262626; }
    .model-box .model-container .oauth_submit_status {
      margin-top: 25px;
      position: relative; }
    .model-box .model-container .login-form h3 {
      font-size: 18px;
      line-height: 24px;
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
      color: #262626; }
    .model-box .model-container .login-form .create-section.input_sec {
      margin-bottom: 34px;
      position: relative; }
      .model-box .model-container .login-form .create-section.input_sec input:focus ~ label, .model-box .model-container .login-form .create-section.input_sec input.valid ~ label {
        color: #CFCFCF;
        top: -12px;
        font-size: 12px;
        line-height: 14px; }
    .model-box .model-container .login-form label {
      position: absolute;
      display: block;
      line-height: inherit;
      font-weight: 400;
      font-size: 14px;
      top: 3px;
      color: #9e9e9e;
      transition: all .2s ease; }
    .model-box .model-container .login-form .forgot, .model-box .model-container .login-form .signup, .model-box .model-container .login-form .cancel {
      color: #1a73e9;
      font-size: 11px;
      line-height: 13px;
      cursor: pointer; }
    .model-box .model-container .login-form .forgot {
      position: absolute;
      right: 0px;
      bottom: 45px; }
    .model-box .model-container .login-form .submit-button2 {
      width: 100%; }
    .model-box .model-container .login-form .oauth-bottom-login {
      border-top: 1px solid #e0e0e0;
      margin-top: 20px;
      padding-top: 20px;
      position: relative;
      display: block;
      color: #666;
      font-size: 11px;
      line-height: 16px;
      font-family: Montserrat,sans-serif; }
    .model-box .model-container .login-form .sub-stm {
      margin-bottom: 10px; }
      .model-box .model-container .login-form .sub-stm a {
        font-family: Montserrat,sans-serif;
        font-weight: 500;
        color: #595959;
        text-decoration: underline; }
    .model-box .model-container .login-form .error {
      color: #ED1C24;
      clear: both;
      font-size: 13px; }
    .model-box .model-container #reg_main_err, .model-box .model-container #b2boauth_log_main_err {
      position: relative;
      top: -10px; }
