@import "reset.scss"; 

header{
    border-bottom: 1px solid $clr-7;
    background: #fff;
    left: 0;
    padding: rem(16) 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
    @include breakpointmax($end-small){
        padding: rem(12) 0 rem(9) 0;
    }
}

.main-header{
    &__inner{
        @include set-flex-box($jc:flex-start);
        align-items: center;
        &--logo{
            width: rem(620);
        }
        &--hamberger{
            transform: rotate(180deg);
            background: url(../images/hamber-menu.png) 0 0 no-repeat;
            cursor: pointer;
            width: rem(66);
            height: rem(27);
            background-size: contain;
        }
        &--nav{     
            @include set-flex-box();
            align-items: center;       
            & > ul{
                list-style: none;
                li{
                    @include desc-1();
                    display: inline-block;                    
                    &:not(:first-child){
                        @include breakpoint($end-small){
                            margin-left: rem(25);
                        }
                    }
                    a{
                        &:hover{
                            color: $clr-6;
                        }
                    }
                    @include breakpointmax($end-small){
                        display: block;
                        margin-bottom: rem(20);
                    }
                }
                @include breakpoint($end-small){
                    border-right: 1px solid $clr-7;
                    padding-right: rem(20);
                    margin-right: rem(20);
                }
                @include breakpointmax($end-small){

                }

            }
            @include breakpointmax($end-small){
                background: $clr-1;
                flex-direction: column;
                height: 100%;
                left: -100%;
                padding: rem(90) rem(20) rem(20);
                position: fixed;
                top: 0;
                transition: all .3s;
                width: rem(280);
                z-index: 99;
                &.active{
                    left: 0;
                    justify-content: flex-start;
                    align-items: flex-start;
                }
            }
        }
        &--login{
            .loggedin-user{
                position: relative;
                .show_user{
                    cursor: pointer;
                    @include set-flex-box();
                    align-items: center;
                    img{
                        vertical-align: middle;
                        border: 1px solid #ccc;
                        border-radius: 50%;                        
                    }
                    span{
                        text-transform: capitalize;
                        @include desc-1();
                        margin: 0 rem(9);
                        @include set-line-clamp(1);
                        max-width: rem(70);
                    }
                    svg{
                        vertical-align: middle;
                    }
                }
                .header-user-nav{
                    display: none;   
                    position: absolute;
                    top: -10000px;
                    background-color: #fff;
                    width: rem(190);
                    box-shadow: 0 4px 20px rgba(0,0,0,.1);
                    padding: rem(20);
                    padding-right: 0;
                    right: 0;
                    z-index: 9;
                    border-radius: rem(20); 
                    @include breakpointmax($end-small){
                        right: unset;
                    }
                    ul{
                        li{
                            a{
                                @include desc-4();
                                display: block;
                                padding: 10px;
                                &:hover{
                                    color: $clr-6;
                                }
                            }
                            i.fa{
                                width: rem(20);
                                height: rem(18);
                                display: inline-block;
                                vertical-align: middle;
                                margin-right: rem(8);
                            }
                            .fa-power-off{
                                background: url(/src/images/logout-icon.svg) 0 0 no-repeat;
                            }
                            .fa-key{
                                background: url(/src/images/create-pwd-icon.svg) 0 0 no-repeat;
                            }
                            .fa-pencil{
                                background: url(/src/images/edit-icon.svg) 0 0 no-repeat;
                            }
                        }
                    }                       
                }
                &:hover{
                    .header-user-nav{
                        display: block;    
                        position: absolute;  
                        top: rem(45);                                     
                    }
                }
                &::before{
                    content: '';
                    position: absolute;
                    width: 100%;
                    padding: 28px 0;
                }
            }
        }
    }
}

.main-content{
    margin-top: rem(90);
    padding-top: rem(40);
}

.hero-panel{
    &__inner{
        @include set-flex-box();
        @include breakpointmax($end-small){
            flex-direction: column;
            margin-bottom: rem(35);
        }
        &--content{
            width: 42%;
            padding-top: rem(50);
            @include breakpointmax($end-small){
                order: 2;
                width: 100%;
            }
            h1{
                @include desc-1();
                color: $clr-6;
                background: rgba(109, 130, 203, .1);
                padding: rem(6) rem(20);
                border-radius: rem(50);
                width: fit-content;
            }
            h2{
                @include heading-5();
                letter-spacing: rem(2);
                margin-top: rem(12);
            }
            h3{
                @include desc-1();
                margin-top: rem(12);
            }
            &__btn-group{
                margin-top: rem(25);
                button{
                    margin-right: rem(10);
                }
            }
        }
        &--image{
            @include breakpointmax($end-small){
                order: 1;
                img{
                    height: auto;
                    max-width: 100%;
                }
            }
        }
    }
}

footer{
    .main-footer{        
        &__inner{
            @include set-flex-box($jc:flex-start);
            border-bottom: 1px solid $clr-7;
            padding: rem(25) 0;
            align-items: center;
            @include breakpointmax($end-small){
                flex-direction: column;
                align-items: flex-start;
            }
            &--logo{
                width: rem(620);
            }
            &--nav{
                ul{
                    li{
                        @include desc-1();
                        display: inline-block;                    
                        &:not(:first-child){
                            @include breakpoint($end-small){
                                margin-left: rem(25);
                            }
                        }
                        a{
                            &:hover{
                                color: $clr-6;
                            }
                        }
                        @include breakpointmax($end-small){
                            display: block;
                            margin-top: rem(12);
                            width: 50%;
                        }
                    }
                    @include breakpointmax($end-small){
                        display: flex;
                        flex-wrap: wrap;
                    }
                }
            }
        }
        &__bottom{
            @include set-flex-box();
            padding: rem(25) 0;
            &--copyright{
                p{
                    @include desc-1();
                }
                @include breakpointmax($end-small){
                    order: 2;
                    margin-top: rem(15);
                }
            }
            &--urls{
                ul{
                    li{
                        @include desc-1();
                        display: inline-block;                    
                        &:not(:first-child){
                            margin-left: rem(25);
                        }
                        a{
                            &:hover{
                                color: $clr-6;
                            }
                        }
                    }
                }                
            }
            @include breakpointmax($end-small){
                flex-direction: column;
            }
        }
    }
}

.top-footer-panel{
    background: $clr-6;
    padding: rem(35) 0;
    &__inner{
        @include breakpoint($end-small){
            text-align: center;
        }
        h2{
            @include heading-1();
            letter-spacing: rem(3);
            @include breakpointmax($end-small){
                @include set-typography(30, 40);
                letter-spacing: rem(1);
            }
        }
        h3{
            @include desc-5();
            color: $clr-1;
            margin-top: rem(15);
        }
        button{
            margin-top: rem(15);
        }
    }
}

.model-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .7;
    z-index: 9999;
    left: 0;
    top: 0;
}
.model-box{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    overflow: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99991;
    @include breakpointmax($end-small){

    }
    .model-container{
        max-width: 380px;
        width: 100%;
        background: #fff;
        box-shadow: 0 0 8px rgba(0,0,0,.5);
        padding: 40px 40px 30px 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        -webkit-transition: 1s ease-in-out;
        line-height: 1.4em;
        border-radius: 16px;
        min-height: 400px;
        @include breakpointmax($end-small){
            position: relative;
            top: auto;
            left: auto;
            right: auto;
            transform: none;
        }
        .close{
            font-size: 24px;
            right: 15px;
            top: 8px;
            color: #b6b6b6;
            cursor: pointer;
            position: absolute;
        }
        .brand-icon{
            text-align: center;
            margin-bottom: rem(20);
        }
        .input_txt_box{
            width: 100%;
            height: rem(26);
            padding: rem(5) rem(10) rem(5) 0;
            border: none;
            border-bottom: rem(1) solid #e0e0e0;
            font-size: rem(14);
            color: $clr-4;
            display: block;
            transition: all 1s ease;
            box-sizing: border-box;
            line-height: rem(16);
            &:focus, &:hover{
                outline: 0;
            }
            &.error{
                border-bottom: rem(1) solid $primary;
                color: $clr-4;
            }

        }
        .oauth_submit_status{
            margin-top: rem(25);
            position: relative;
        }
        .login-form{
            h3{
                @include heading-2();
            }
            .create-section.input_sec{
                margin-bottom: rem(34);
                position: relative;
                input{
                    &:focus, &.valid{
                        &~label{
                            color: $clr-19;
                            top:rem(-12);
                            @include set-typography(12, 14);
                        }
                    }
                }
            }
            label{
                position: absolute;
                display: block;
                line-height: inherit;
                font-weight: 400;
                font-size: 14px;
                top: rem(3);
                color: #9e9e9e;
                transition: all .2s ease;
            }
            .forgot, .signup, .cancel {
                color: #1a73e9;
                @include set-typography(11, 13);
                cursor: pointer;                
            }
            .forgot{
                position: absolute;
                right: rem(0);
                bottom: rem(45);
            }
            .submit-button2{
                width: 100%;
            }
            .oauth-bottom-login{
                border-top: 1px solid #e0e0e0;
                margin-top: rem(20);
                padding-top: rem(20);
                position: relative;
                display: block;
                color: #666;
                @include set-typography(11, 16);
                font-family: Montserrat,sans-serif;
            }
            .sub-stm{
                margin-bottom: rem(10);
                a{
                    font-family: Montserrat,sans-serif;
                    font-weight: 500;
                    color: #595959;
                    text-decoration: underline;
                }
            }
            .error{
                color: $primary;
                clear: both;
                font-size: 13px;
            }
        }
        #reg_main_err, #b2boauth_log_main_err{
            position: relative;
            top: rem(-10);
        }
        .info_bg {
            background: #f8d2d2;
            border: none;
            padding: rem(8) rem(16);
            font-family: Montserrat,sans-serif;    
            border-radius: rem(6);      
            margin: 0 auto 40px;  
            @include desc-1();
        }
        .oauth-log-info{
            position: absolute;
            max-width: rem(360);
            top: rem(22);
        }
    }
}
.demo_panel{
    &__inner{
        background: $clr-6;
        padding: rem(55) 0;
        border-radius: rem(6);
        text-align: center;  
        @include breakpointmax($end-small){
            padding: rem(55) rem(20);
            border-radius: 0;
        }      
        h2{
            @include heading-1();
            width: rem(425);
            margin: 0 auto;
            letter-spacing: rem(2);
            @include breakpointmax($end-small){
                width: unset;
                @include set-typography(30, 40);
            }
        }
        &--convert_area{
            margin: rem(12) auto;
            position: relative;
            max-width: rem(560);
            input{
                background: $clr-1;
                padding: rem(15) rem(30);
                border-radius: rem(6);
                border: none;  
                width: 100%;
                max-width: rem(530);
                outline: none;
                @include desc-1();  
                &:focus, &:hover, &:active{
                    border: none;
                }  
                @include breakpointmax($end-small){
                    width: rem(274);
                }      
            }
            button{
                position: absolute;
                right: 0;
                top: rem(7);
                @include breakpointmax($end-small){
                    top: rem(65);
                    background: $clr-1;
                    color: $clr-5;
                }
            }
        }
    }
}
.features_panel{
    &__inner{
        padding: rem(20) 0;
    }
}
.dashboard-panel{
    &__inner{

    }
}

