//Screen Sizes
$xs-screen: 320px;
$xs-small: 360px;
$mid-small: 550px;
$end-small: 1000px;
$lg-screen: 1200px;
$xlg-screen: 1600px;

//Font Weights
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$black: 900;

//Font Colours
$primary: #ED1C24;

$clr-1: #FFF;
$clr-2: #000;
$clr-3: #333;
$clr-4: #262626;
$clr-5: #5e638d;
$clr-6: #4447e1;
$clr-7: #E6E6E6;
$clr-8: #F5F5F5;
$clr-9: #736E6E;
$clr-10: #F7F7F7;
$clr-11: #DEDEDE;
$clr-12: #EAEAEA;
$clr-13: #DADCE0;
$clr-14: #FBCD28;
$clr-15: #CBDBDB;
$clr-16: #E6AC81;
$clr-18: #F6F6F6;
$clr-19: #CFCFCF;
$clr-20: #1F1D1D;
$clr-21: #E2E2E2;
$clr-22: #B3B3B3;
$clr-23: #fa4216;
$clr-24:#4B215F;
$clr-25:#F1FAFA;
$clr-26:#4B8686;
$clr-27:#E5B50B;
$clr-28:#FFFAEA;
$clr-29:#fff2e6;

// Font Family
$font-montserrat                    : 'Montserrat', sans-serif;

$font-openSans                      : 'Open Sans', sans-serif;



// File Locations
$font-path: '../fonts/';
$img-path: '../images/';


$common-transition: 0.5s;